.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #073d0a;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron,footer {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: rgb(6, 51, 1);
    color:floralwhite;
}
a{
   color:orange; 
}
a:hover{
    color:orchid;
    text-decoration: none;
}
address{
    font-size:80%;
    margin:0px;
    color:#f1eded;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar {
     background-color: #c50e45;
}
.button {
    color:#f1eded;
    background-color: #073d0a ;
    border-radius: 0.51em;
    padding: 0.3em;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel {
    background:orange;
}

.carousel-item {
  height: 20em;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 20rem;
}
.carousel p{
    width: 60%;
    margin-right: 0;
    margin-left: 30%;
    color: #000;
}